body {
  background-color: #ddd;
  padding: 20px;
}
.container {
  max-width: 600px;
  margin: auto;
  padding: 28px;
  background-color: #fff;
  box-shadow: 0 4px 8px #666;
  border-radius: 16px;
  font: normal 16px Arial, sans-serif;
  text-align: center;
}
h2 {
  font: bold 32px Arial, sans-serif;
  color: #ccc;
}
input[type="file"] {
  font-size: 16px;
}
.loader {
  width: 18px;
  height: 18px;
  border: 5px solid #00f;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border: .6px solid #ccc;
  border-radius: 12px;
}
td {
  padding: 8px;
  text-align: left;
  border-bottom: .6px solid #ccc;
}
b {
  font-weight: normal;
  padding: 2px 10px;
  background-color: orange;
  border-radius: 8px;
}
b[lilac] {
  background-color: violet;
}